table {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 1rem;
}

thead {
  background-color: #004588;
  color: white;
  text-align: center;
}

tbody {
  text-align: center;
}

tr {
  border-top: 9px solid white !important;
}

th,
td {
  padding: 1rem !important;
  font-weight: 600;
}

th {
  cursor: pointer;
}

td {
  padding-bottom: 2rem;
}

tbody > tr:hover {
  background-color: rgba(222, 235, 222, 0.786);
  cursor: pointer;
}

table th:first-child,
td:first-child {
  border-radius: 5px 0 0 5px;
}

table th:last-child,
td:last-child {
  border-radius: 0 5px 5px 0;
}

tbody tr {
  background-color: #f7fbfd;
}

.caret {
  width: 20px;
  height: 20px;
  color: white;
}

tr.active {
  background-color: rgba(222, 235, 222, 0.786) !important;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
  }
}
